doctype html
html
  head
    title Contact Us
    style.
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f0f0f0;
      }
     header {
        background-color: #333;
        color: #fff;
        padding: 20px;
        text-align: center;
      }
      nav {
        margin-bottom: 20px;
      }
      nav a {
        color: #fff;
        text-decoration: none;
        padding: 0 10px;
      }
      nav a:hover {
        text-decoration: underline;
      }
      main {
        padding: 20px;
      }
      footer {
        background-color: #333;
        color: #fff;
        padding: 3px 20px;
        text-align: center;
        position: fixed;
        bottom: 0;
        width: 100%;
      }
  body
    header
      h1 Contact Us
      nav
        a(href='/') Home
        a(href='/contact') Contact
        a(href='/services') Services
    main
      h3 You can reach us at:
      ul
        li Email: saviourTech@aztec.com
        li Phone: +234 234 567 890
    footer
      p Copyright © 2024 saviourTech
