doctype html
html
  head
    title Home Page
    style.
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f0f0f0;
      }
      header {
        background-color: #333;
        color: #fff;
        padding: 20px;
        text-align: center;
      }
      nav {
        margin-bottom: 20px;
      }
      nav a {
        color: #fff;
        text-decoration: none;
        padding: 0 10px;
      }
      nav a:hover {
        text-decoration: underline;
      }
      main {
        padding: 20px;
      }
      footer {
        background-color: #333;
        color: #fff;
        padding: 3px 20px;        
        text-align: center;
        position: fixed;
        bottom: 0;
        width: 100%;
      }
      section {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
        margin-top: 3em;
      }
      div {
        background-color: #000;
        color: white;
        padding: 20px;
        border-radius: 7px;
      }
  body
    header
      h1 Welcome to our website
      nav
        a(href='/') Home
        a(href='/contact') Contact
        a(href='/services') Services
    main
      h2 Express Routing Checkpoint.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore aliquid illo maxime, officia natus sunt, incidunt quaerat itaque sequi animi necessitatibus quae, voluptates nobis? Soluta aliquid possimus iusto ratione omnis accusamus, quod porro explicabo, laudantium distinctio ullam nisi praesentium necessitatibus, repellat numquam ipsum placeat accusantium quos ipsam! Fugit, sed architecto ipsam molestiae ab, ut in fuga pariatur, atque est laborum suscipit vel quia. Sapiente fugiat recusandae provident? Architecto nostrum, excepturi molestias consequuntur sit velit laudantium provident blanditiis repellat iusto temporibus. Reprehenderit quasi perferendis nobis sequi minus provident asperiores voluptate odio molestiae illo tenetur quo voluptatibus voluptas quia illum, temporibus magnam!
    
        section
            div
                h4 Lorem, ipsum dolor.
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi autem laudantium doloribus consequatur laboriosam repellendus vel sit placeat nam quaerat.
        
            div
                h4 Lorem ipsum dolor sit.
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat ad unde iusto eius doloribus quas laboriosam magnam, ab earum exercitationem.
    footer
      p Copyright © 2024 saviourTech
